//** STARFISH COLOR SCHEME ***********************************************************************//

//Primary colors
$starfishRed    :#BF1E2D;
$starfishBlue   :#2AACE3;
$starfishGreen  :#7EBA41;
$starfishOrange :#F05A28;
$starfishPurple :#673292;
$gray           :#939597;

$blackBg        :#242424;
$green          :#A9D528;

//secondary colors
$grayHeadings   :#333333;
$darkGray       :#221F20;
$lightGray      :#666666;
$linkGray       :#58585B;

$grayHover      :#4D4D4D;
$grayLegend     :#999999;
$grayLabel      :#808080;

$inputFocus     :#EDEDED;
$inputGray      :#CCCCCC;
$bodyGray       :#242424;

$columnBorder   :#C5C5C5;

$labelGray      :#B1B1B1;
